
<!DOCTYPE html>
<html>
<head>
    <title>User Profile</title>
</head>
<body>

<h2>User Profile</h2>

<form method="post" action="/update_profile" enctype="application/x-www-form-urlencoded">

    <label for="firstName">firstName:</label>
    <input id="firstName" name="firstName" required></input><br>
    <label for="phone">phone:</label>
    <input id="phone" name="phone" required></input><br>
    <label for="lastName">lastName:</label>
    <input id="lastName" name="lastName" required></input><br>
    <label for="DOB">DOB</label>
    <input id="DOB" name="DOB" required></input><br>


    <button type="submit">Submit</button>
</form>

</body>
</html>

